/* HTML element styling */

body {
    font-family: sans-serif;
}

h1, h2 {
    text-align: center;
}

fieldset {
    border: none;
}

legend {
    text-decoration: none;
}

label, span {
    cursor: default;
}

label {
    vertical-align: middle;
}

img {
    display: block;
    margin: auto;
}

/* Narrative Styling guided by http://jgthms.com/web-design-in-4-minutes/ */
#narrative-container {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: sans-serif;
}

#narrative {
    margin: 0 auto;
    padding: 1em;
    max-width: 50em;
}

#line {
    background: black;
    height: 2px; 
    width: 50em;
}


/* tooltips styling */
.tooltip {
    height: 50px;
    position: absolute;
    display: inline-block;
    pointer-events: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    white-space: pre;
}

.tooltip.hidden {
    display: none;
}

/* checkbox styling */

/* http://stackoverflow.com/questions/34388696/how-to-change-the-background-color-on-a-input-checkbox-with-css */

input[type=checkbox].legend {
    display: none;
}

input[type=checkbox].legend + label:before {
    width: 12px;
    height: 12px;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    content: "\00a0";
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 10px;
    margin: 3px 0.5ex;
    padding: 0;
}

input[type=checkbox]:checked.legend + label:before {
    color: white;
    content: "\2713";
}

input[type=checkbox]:checked.legend#Lipid + label:before {
    background-color: rgb(166,86,40);
}

input[type=checkbox]:checked.legend#Vitamin + label:before {
    background-color: rgb(255,127,0);
}

input[type=checkbox]:checked.legend#Proximate + label:before {
    background-color: rgb(77,175,74);
}

input[type=checkbox]:checked.legend#Mineral + label:before {
    background-color: rgb(55,126,184);
}

/* interaction controls */

.underline {
    text-decoration: underline;
}

#allergyText, #allergyButton {
    display: inline-block;
}

#allergies {
    width: 235px;
    display: inline-block;
    vertical-align: top;
}

#allergyButton {
    padding: 0;
}

#labels {
    width: 140px;
    display: inline-block;
    vertical-align: top;
}

#content {
    width: 145px;
    display: inline-block;
    vertical-align: top;
}

#sorting {
    width: 235px;
    display: inline-block;
    vertical-align: top;
}

#allergyList {
    height: 3em;
    line-height: 1em;
    width: 200px;
    overflow-x: auto;
    overflow-y: scroll;
    list-style: none;
    margin: 0;
    padding: 1px;
}

#red-square {
    color: rgb(228,26,28);
}

#purple-square {
    color: rgb(152,78,163);
}

.delete:hover {
    color: red;
}

#controls {
    width: 770px;
    margin: 0 auto;
}

#left {
    float: left;
    width: 60%;
    padding-top: 1em;
}

#right {
    float: left;
    width: 40%;
    padding-top: 1em;
}

#small .food:hover {
    background-color: lightgray;
}

#small .food {
    width: 175px;
    height: 130px;
    border: 1px solid white;
    display: inline-block;
    border-radius: 5px;
}

#small .food.selected {
    border: 1px solid black;
    border-radius: 5px;
}

#main {
    width: 700px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

/* visualization styling */

.nutrient-bar-label, .ingredient-bar-label {
    font-size: 0.75em;
}

#main .ingredient-bar:hover, #main .nutrient-bar:hover {
    fill-opacity: 0.75;
}

/* allergies are red */
.ingredient-bar.allergy {
    fill: rgb(228,26,28);
}

/* ingredients are purple */
.ingredient-bar {
    fill: rgb(152,78,163);
}

/* proximates are green */
.nutrient-bar.Proximate {
    fill: rgb(77,175,74);
}

/* minerals are blue */
.nutrient-bar.Mineral {
    fill: rgb(55,126,184);
}

/* vitamins are orange */
.nutrient-bar.Vitamin {
    fill: rgb(255,127,0);
}

/* lipids are brown */
.nutrient-bar.Lipid {
    fill: rgb(166,86,40);
}

.domain {
    fill: None;
    stroke: None;
}

.axis-label {
    font-size: 0.75em;
}
